body {
    background: gray
}

#burger {
    color: tomato;
}

#pickles {
    color: green;
}

#sauce { 
    color: tan;
}

li a {
    color: greenyellow;
}

a[href="https://www.facebook.com"] {
    Color: Blue;
}

input[type="text"] {
    color: orange;
}

p:nth-of-type(3) {
    background: red;
}